<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="btn">submit</button>
    <script>
        var a=document.getElementById("btn");
       a.style.backgroundColor="red";
       </script>
</html>






<!-- old code -->

<div id="zf_div_NxxnfRysUjMnpiQloI23efEx_KiLah1fYizyfMulQwc"></div>
<script type="text/javascript">(function() {
try{
var f = document.createElement("iframe");
f.src = 'https://forms.zohopublic.com/PileraSoftware/form/ContactUs/formperma/NxxnfRysUjMnpiQloI23efEx_KiLah1fYizyfMulQwc?zf_rszfm=1';

f.style.border="none";
f.style.height="723px";
f.style.width="90%";
f.style.transition="all 0.5s ease";
var d = document.getElementById("zf_div_NxxnfRysUjMnpiQloI23efEx_KiLah1fYizyfMulQwc");
d.appendChild(f);
window.addEventListener('message', function (){
var evntData = event.data;
if( evntData && evntData.constructor == String ){
var zf_ifrm_data = evntData.split("|");
if ( zf_ifrm_data.length == 2 ) {
var zf_perma = zf_ifrm_data[0];
var zf_ifrm_ht_nw = ( parseInt(zf_ifrm_data[1], 10) + 15 ) + "px";
var iframe = document.getElementById("zf_div_NxxnfRysUjMnpiQloI23efEx_KiLah1fYizyfMulQwc").getElementsByTagName("iframe")[0];
if ( (iframe.src).indexOf('formperma') > 0 && (iframe.src).indexOf(zf_perma) > 0 ) {
var prevIframeHeight = iframe.style.height;
if ( prevIframeHeight != zf_ifrm_ht_nw ) {
iframe.style.height = zf_ifrm_ht_nw;
}
}
}
}
}, false);
}catch(e){}
})();</script>
